.input_box { /*Covers entire component*/
    padding: 25px;
    background: linear-gradient(to bottom,#0059ff,#181cff);
    border-radius: 30px;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.calc_button_box{ /*Covers calculation buttons and text on bottom of component*/
    font-family: Raleway;
    text-align: center;
    font-size: 20px;
    place-self: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}