@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.estimator_box{
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  max-width: 700px;
  background: linear-gradient(to right, #6fa1ff, #ffffff);;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.title_text{
    font-family: Raleway;
    color: black;
    font-size: 50px;
}
.search-bar{
    display:flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border-radius: 40px;
    padding-left: 25px;
    color: #808080;
    background-color: #ffffff;
    font-size: 18px;
}
.generic_text{
  font-family: Raleway;
  color: black;
  font-size: 20px;
}