@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.calorie_loss_box{
  place-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.loss_text{
  font-family: Raleway;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.search-bar{
    display:flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    color: #808080;
    background-color: #ffffff;
    font-size: 18px;
}
.calories_lost{
  font-family: Raleway;
  color: rgb(252, 252, 252);
  font-size: 20px;
}