@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.estimator_box{ /*Covers entire component*/
  place-self: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.title_text{ /*Component title*/
    font-family: Raleway;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.search-bar{
    display:flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    color: #808080;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    font-family: Raleway;
    font-size: 20spx;
}
.generic_text{
  font-family: Raleway;
  color: rgb(255, 255, 255);
  font-size: 20px;
}