.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.input_box {
    border-radius: 40px;
    padding-left: 25px;
    background-color: #ff0000;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.title{
    font-family: Raleway;
    text-align: center;
    color: black;
    font-size: 50px;
}
.disclaimer {
    font-family: Raleway;
    text-align: center;
    color: black;
    font-size: 10px;
}
.search-bar{
    display:flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border-radius: 40px;
    padding-left: 25px;
    color: #808080;
    background-color: #ffffff;
    font-size: 18px;
}
.calc_button_box{
    font-family: Raleway;
    text-align: center;
    color: black;
    font-size: 30px;
    place-self: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.chart_box{
    width: 1000px;
    height: 1000px;
    justify-content: center;
}